:root {
  --common-width: 75%;
  --karlek-baba: 6px;
  --socialt-kapital-baba: 380px;
  --densitet-baba: 216px;
  --karlek-sture: 240px;
  --socialt-kapital-sture: 147px;
  --densitet-sture: 210px;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: antiquewhite;
	font-family: consolas;
	font-size: 18px
}

.beskrivning {
	color: antiquewhite;
	font-size: 18px;

	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 10px;

}

.outline {
	margin-top: 32px;
	padding-bottom: 50px;
	width: 380px;
	border: 1px solid yellow;
}

.portratt {
	width: var(--common-width);
	vertical-align: center;
}

.stampel {
	height: 42px;
}

.rubrik {
	color: #FF6363;
	text-decoration: none;
	padding-top: 5px;
}

.Banner {
	background-color: #6CD9F9;
	width: 100%;
}

.Kompisar {
	margin-bottom: 48px;
}

.Kompis {
	background-color: #FDB731;
	width: 380px;
	height: 380px;
	margin: 30px;
	border-radius: 1rem;
}

.Kompis h1 {
padding-top: 10px;
text-align: left; 
margin-left: 10px;
margin-bottom: 0;
padding-bottom: 0;
}

.sammanfattning {
	color: antiquewhite;
	margin: 10px 0px 10px 10px;
	text-align: left;
}

.stats {
	margin-left: 35%;
	height: 256px;
	width: 20%;
}

.stat {
	height: 16px;
	margin-left: 0px;
}

.stat h3 {
	color: teal;
}

#love {
	width: 360px;
	background-color: yellow;
}

#social {
	width: 180px;
	background-color: red;
}

#densitet {
	width: 28px;
	background-color: green;
}

#love2 {
	width: var(--karlek-baba);
	background-color: yellow;
}

#social2 {
	width: var(--socialt-kapital-baba);
	background-color: red;
}

#densitet2 {
	width: var(--densitet-baba);
	background-color: green;
}

#love3 {
	width: var(--karlek-sture);
	background-color: yellow;
}

#social3 {
	width: var(--socialt-kapital-sture);
	background-color: red;
}

#densitet3 {
	width: var(--densitet-sture);
	background-color: green;
}


.Liv {
	margin-left: 35%;
	width: 20%;
}

.Liv p {
	color: chocolate;
}

h2 {
	color: orange;
}

a {
	color: #806CFF;
	text-decoration: none;
}

.stat-wrapper {
	margin-top: 16px;
	width: 100%;
}

.stat-title{
	padding: 0;
	margin: 0;
	float:left;
	color:teal;
}